<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GFDecoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GFDecoder.Properties.Settings>
            <setting name="jsonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="splitPath" serializeAs="String">
                <value />
            </setting>
            <setting name="processPath" serializeAs="String">
                <value />
            </setting>
            <setting name="doSplit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splitDirName" serializeAs="String">
                <value>split</value>
            </setting>
            <setting name="processDirName" serializeAs="String">
                <value>processed</value>
            </setting>
            <setting name="textFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageJsonPath" serializeAs="String">
                <value />
            </setting>
        </GFDecoder.Properties.Settings>
    </userSettings>
</configuration>